.delete-profile-page{
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-color: #EAE7DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:  700px) {
        width: 80vw;
        padding: 0px;
        padding-top: 20px;
        min-height: 95vh;


    }


    .delete-profile-page-titlebox{

        margin-bottom: 20px;

        @media screen and (max-width: 800px){
            max-width: 500px;
        }

        @media screen and (max-width: 600px){
            max-width: 400px;
        }
        
        @media screen and (max-width: 500px){
            max-width: 350px;
        }

        @media screen and (max-width: 400px){
            max-width: 280px;
        }
    

        .delete-profile-page-titlebox-title{
            display: block;
            margin-bottom: 20px;
            font-family: 'Roboto', sans-serif;
            font-size: 30px;
            color: #7c7c7c;
            overflow-wrap: normal;

        }

        .delete-profile-page-titlebox-descriptor{
            display: block;
            margin-bottom: 18px;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            color: #7c7c7c;
        }
    }
}