.header-menu-mobile{
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #474746;
    position: absolute;
    border-radius: 15px;
    height: 30vh;
    right: 10px;
    top: 10vh;
}


