.signin-form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    margin-bottom: 40px;


    @media screen and (max-width: 800px){
                max-width: 500px;
            }

    @media screen and (max-width: 600px){
        max-width: 400px;
        min-width: 95%;
    }

    @media screen and (max-width: 500px){
        max-width: 350px;
        min-width: 95%;

    }

    @media screen and (max-width: 400px){
        max-width: 280px;
        min-width: 95%;
    }

    .signin-form-input-container{
        display: flex;
        flex-direction: column;
        max-width: inherit;
        min-width: inherit;

        .signin-form-input-label{
            width: fit-content;
            color: #7c7c7c;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
    
            
        }
        .signin-form-input{
            background-color: #fff;
            font-size: 20px;
            margin-top: 2vh;
            margin-bottom: 3vh;
            border-radius: 0.8rem;
            padding: 10px;
            color: #868686;
            max-width: inherit;
            min-width: inherit;
        
    
            &:focus{
                outline: none !important;
                border: none;
            }
        }      
    }        
}